@use '../../styles/mixins' as m;

.layout {
  width: 95%;
  padding: 4px;

  @include m.md {
    width: 80%;
  }
  @include m.lg {
    width: 70%;
  }
  @include m.xl {
    width: 60%;
  }
  margin: 0 auto 2rem auto;
}

.big {
  @include m.md {
    width: 95% !important;
  }
  @include m.lg {
    width: 90% !important;
  }
  @include m.xl {
    width: 80% !important;
  }
}
