@use '../../styles/mixins' as m;

.infoSection {
  margin-bottom: 1rem;
}

.description {
  font-weight: 300;
  color: #5e5e5e;
}

.sectionsWrapper {
  padding: 1%;
  border-radius: 8px;
  box-shadow: 0 0 1px #878787;
}
.sections {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
}

.box {
  border: 1px solid black;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  content: 'asd';
}

.mainSection {
  margin-top: 0.5rem;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  @include m.lg {
    grid-template-columns: 1fr 5fr;
  }
}

.courses {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;

  @include m.sm {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include m.lg {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include m.xxl {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.reviewSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filterItems {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 0.3rem;
}

.centered {
  text-align: center;
}

.sortButton {
  cursor: pointer;
  // border-bottom: 1px solid grey;
  box-shadow: 0 0 1px grey;
  border-radius: 16px;
  padding: 0.25rem 1rem;
}

.authorSection {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  @include m.md {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include m.lg {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include m.xxl {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

// pagination
.paginationWrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}

.paginationItem {
  border: 1px solid black;
  border-radius: 6px;
  padding: 2px 6px;
  cursor: pointer;
}
.paginationItemActive {
  opacity: 0.5;
  cursor: not-allowed;
}

// skeleton
.skeletonSpace {
  margin-bottom: 2rem;
}
.filterWrapper {
  display: none;

  @include m.lg {
    display: inline;
  }
}

.bold {
  font-weight: 500;
}
