.purchaseSection {
  display: flex;
  position: fixed;
  padding: 8px;
  border-radius: 7px;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  //   width: 80%;
  gap: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.test {
  display: flex;
}

.box {
  border: 1px solid black;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  content: 'asd';
}

.courses {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
