@use '../../styles/mixins' as m;
$br: 18px;

.searchWrapper {
  display: flex;
  width: 70%;
  @include m.lg {
    width: 40%;
  }
  @include m.xxl {
    width: 30%;
  }
}
.search {
  border: none;
  box-shadow: 0 0 1px black;
  border-radius: $br;
  height: 20px;
  width: 100%;
  outline: none;
  padding: 4px 10px;
}
.searchButton {
  &,
  a {
    display: flex;
    align-items: center;
  }
  a {
    svg {
      fill: grey;
    }
  }
  padding: 2px 4px;
  cursor: pointer;
  font-size: 1rem;
}
.searchButton:hover {
  opacity: 0.6;
}

// hero section
.heroSectionWrapper {
  width: 100%;
}

.heroSectionSearch {
  padding: 10px 14px;
  font-size: 1.1rem;
}

.heroSectionSearchButon {
  padding: 10px;
  font-size: 1.1rem;
}
