@use '../../styles/mixins' as m;

.courses {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  @include m.sm {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include m.lg {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include m.xxl {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.heroSection {
  width: 90%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heroSectionContent {
  width: 100%;
  height: 50vh;

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    display: none;

    @include m.sm {
      display: block;
    }
  }
}
