.wrapper {
  display: flex;
  gap: 10px;
}

.userSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapper {
  height: 64px;
  width: 64px;
}
.imageWrapper img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.name {
  max-width: 64px;
  font-weight: 500;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.flexCentered {
  display: flex;
  align-items: center;
}

.date {
  font-size: 0.8rem;
  color: #7d7d7d;
  font-weight: 300;
}

.textSection {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: start;
}
