@use '../../styles/mixins' as m;

.inactive {
  @include m.lg {
    display: none;
  }
}

.active {
  transform: scale(1.1);
  box-shadow: 0 0 1px black;
}

.list {
  display: flex;
  justify-content: center;
  gap: 10px;

  padding: 0;
  list-style: none;
}

.tab {
  border: 1px solid black;
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
}

.listTab {
  display: flex;
  align-items: center;

  cursor: pointer;
  opacity: 0.6;
  border-bottom: 2px solid black;

  @include m.sm {
    font-size: 1.5rem;
  }
  @include m.md {
    font-size: 1.75rem;
  }
  @include m.lg {
    font-size: 2rem;
  }
}

.listActive {
  opacity: 1;
}
