.wrapper {
  display: flex;
  gap: 1rem;
}

.videoWrapper {
  // width: 400px;
  // height: 300px;
}

.lessonsWrapper {
  background-color: rgb(63, 139, 51);
}

.questionsWrapper {
  height: 600px;
  background-color: rgb(29, 29, 126);
}
