@use '../../styles/mixins' as m;

.wrapper {
  @include m.lg {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 1rem;
  }
  @include m.xxl {
    grid-template-columns: 3fr 1fr;
  }
}

.videoWrapper {
  // width: 400px;
  // height: 300px;
}

.lessonsWrapper {
  width: 300px;
  height: 1000px;
  background-color: rgb(63, 139, 51);

  @include m.lg {
    order: 1;
  }
}

.questionsWrapper {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

video {
  width: 100%;
}

.tabs {
  @include m.lg {
    display: none;
  }
}

.inactive {
  display: none !important;
  @include m.lg {
    display: flex !important;
  }
}
