@use '../../styles/mixins' as m;

.wrapper {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-top: 2rem;

  @include m.lg {
    display: flex;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.filterItem {
  margin: 10px 0;
  border: 1px solid purple;
  color: purple;
  border-radius: 12px;
  padding: 2px 6px;
}

.filterWrapper {
}

.filterProperties {
  // border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 0 1px grey;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
}

.priceInput {
  border: none;
  box-shadow: 0 0 1px grey;
  border-radius: 4px;
  width: 42%;
  outline: none;
  padding: 4px;
}

.sortButton {
  cursor: pointer;
}
